<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>    
    <button class='back'>Back</button>
    
    <form action="/create" method="POST">
        Project Name: <input type="text" name="Nname" />
        Start Date: <input type="date" name="NSdate" />
        End Date: <input type='date' name="NEdate" />
        Budget: <input type="text" name="Nbudget" />
        Project Owner's Name: <input type="text" name="Nowner" />
        Description: <input type="text" name="Ndescription" />
        Invite: <input type="text" name="Ninvite" />
        <button class='addContact'>+ Add</button>
        <input type="submit" class="createSubmit" />
    </form>

    <button class='go'>GO</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/js/create.js"></script>
</body>
</html>