body{
    background-image: url('https://www.wisc-online.com/asset-repository/getfile?id=954&getType=view');
    background-size: cover;
    width: 400px;
    border: 1px solid black;
    border-radius: 10%;
}
.headerBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBox{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
#chat, #budget, #tasks, #log{
    width: 22%;
    height: 100%;
    border: 1px solid black;
    background-color: slategray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
#chat{
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
}
#log{
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}
#budget:hover, #tasks:hover{
    border-top: 2px solid rgb(77, 76, 76);
    border-bottom: 2px solid lightgray;
}
#budget, #tasks{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid rgb(77, 76, 76);
    border-right: 2px solid rgb(77, 76, 76);
}
#chat{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid rgb(77, 76, 76);
    border-left: 2px solid lightgray;
}
#chat:hover{
    border-top: 2px solid rgb(77, 76, 76);
    border-bottom: 2px solid lightgray;
    border-left: 2px solid rgb(77, 76, 76);
}
#log{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid rgb(77, 76, 76);
    border-right: 2px solid rgb(77, 76, 76); 
}
#log:hover{
    border-top: 2px solid rgb(77, 76, 76);
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
}
h1{
    font-size: 50px;
    color: lightgray;
    text-shadow: 2px 2px 2px rgb(77, 76, 76);
}
.mockGraph{
    height: 375px;
    width: 95%;
    margin-left: 2.4%;
    border: 1px solid black;
}
footer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
#rootList{
    border: 1px solid black;
    margin-left: 5px;
}
ul{
    margin: 5px;
    margin-left: 10px;
    padding-left: 2px;
    border: 1px solid black;
    background-color: rgba(245, 245, 245, 0.466);
    border-radius: 1%;
}
.unordered{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.down{
    border: none;
    background-color: none;
    margin-right: 10px;
    font-size: 20px;
}
/* .bar{
    border:1px solid black;
    height: 30px;
} */
.owner{
    color: grey;
}
.addOn{
    color: green;
    border:none;
}




/* navbar design template */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
  background-color: #0B40AF;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #52A8E3;
    color: white; 
    text-decoration: none;
}

.active {
    background-color: #719943;
}

.active:hover {
  background-color: #8AAB6C;
  color: white;
  text-decoration: none;
}