<footer class="mainfooter" role="contentinfo">
        <div class="footer-top p-y-2">
          <div class="container-fluid">
            <div class="row">
              </div><!--col-md-2-->
            </div>
          </div>
        </div>
        <div class="footer-middle">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <!--Column1-->
              <div class="footer-pad">
                <address>
                  Git Hub
              </address>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <!--Column1-->
              <div class="footer-pad">
                <h4>LinkedIn</h4>
                <ul class="list-unstyled">
                  <li><a href="#"></a></li>
                  <li><a href="#">Hussein Khorshed</a></li>
                  <li><a href="#">Travis Ramos</a></li>
                  <li><a href="#">Sam Seagull</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <!--Column1-->
            </div>
            <div class="col-md-3 col-sm-6">
              <!--Column1-->
              <div class="footer-pad">
            </div>
          </div>
        </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <!--Footer Bottom-->
                <p class="text-xs-center">&copy; Copyright 2018 - USA.  All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </footer>