<section id="footer" class="bg-dark">
    <div class="container bg-dark">
      <div class="row text-center text-xs-center text-sm-left text-md-left">

        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Creaters</h5>
          <li class="list-inline-item"><a href="https://github.com/TRamos5/project2"><i class="fa fa-github"></i></a></li>

          <ol class="list-unstyled quick-links">
            <li><a href="https://www.linkedin.com/in/husseinkhorshed/" target="_blank"><i class="fa fa-angle-double-right"></i>Hussein Khorshed</a></li>
            <li><a href="https://www.linkedin.com/in/travis-ramos/" target="_blank"><i class="fa fa-angle-double-right"></i>Travis Ramos</a></li>
            <li><a href="#" target="_blank"><i class="fa fa-angle-double-right" ></i>Sam Siegel</a></li> 
          </ol>
        </div>

        <div class="row justify-content: right;">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
              <ol class="list-unstyled list-inline social text-center">
                <li class="list-inline-item"><a href="https://github.com/TRamos5/project2" target="_blank"><img src="/photos/GitHub-Mark-Light-120px-plus.png" alt="Github Code"><i class="fa fa-github"></i></a></li>
              </ol>
            </div>
        </div>	

         
        </div>
      </div>	
    </div>
  </section>