<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="display: flex; justify-content: space-between;">
        <div style="display: flex; flex-direction: row">
          <a class="navbar-brand" href="/dashboard">MERKURI</a>

        </div>
          <a class="nav-link text-muted" href="/login">Sign Out</a>
        </div>
      </nav>