<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="display: flex; justify-content: space-between;">
        <div style="display: flex; flex-direction: row">
          <a class="navbar-brand" href="/dashboard">MERKURI</a>
          <a class="nav-link text-secondary" href="/chat">Team Chat</a>
          <a class="nav-link text-secondary" href="/tasks">Project Tasks</a>
          <a class="nav-link text-secondary" href="/budget">Project Budget</a>

        </div>
          <a class="nav-link text-muted" href="/login">Sign Out</a>
        </div>
      </nav>