.loginback{
    background-image: url("/public/photos/liquidMerc.jpg");
    max-width: 100%;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.85;
}

.body1{
    background: linear-gradient(217deg, grey, lightgrey 70.71%),
            linear-gradient(127deg, grey, lightgrey 70.71%),
            linear-gradient(336deg, lightgrey, black 70.71%);
            /* background-size: cover; */
}

#title1 {
    color: rgb(9, 8, 73);
    font-display: bold;
    font-size: 7vw;
    padding-top: 4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.signUpButton {
    background-color: darkslategrey;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.signUpButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.loginback{
    background-image: url("/photos/liquidMerc.jpg");
}

.createNew{
    background-color: #31562F;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.createNew:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
  
.subBox{
    display: flex;
    justify-content: space-around;
}
a:hover{
    text-shadow: 2px 2px black;
}


/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

.mainFooter {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}


section .section-title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}
/* #footer {
    background: dark;
} */
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.budgetPage {
    color: white;
    font-size: 4vw;
    text-shadow: 2px 2px black;
}

.graphs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
}

.dashTable {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;

}

.table {
    background-color: #343a40;
    color: white;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}



